body{
    background-color: #282b29;
    }
p {
    color: red;
    font-family: Verdana;
    font-size:'16px';
}

.flag {
     display: fixed;
     position: fixed;
     height: 100%;
     width: 100%;
     background: url(../static/flag.png);
     }

.occupationCode{
	position:fixed;
	top:50%;
	left: 20%;
	width:30%;
}

.territory{
	position:fixed;
	top:50%;
	left:52%;
	width:30%;
}

#searchFormId{
    position: fixed;
    top: 50%;
    left: 20%;
    width: 75%;
}

.searchButton{
    position:fixed;
    display:block;
    width: 53px;
    height: 49px;
    border-radius: 50%;
	left: 83%;
    top: 50%;
 }

.footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
}