//TODO: Re-implement styles for dropdowns and fields.

body {
    background-color:#282b29;
    }
p {
    color: red;
    font-family: Verdana;
    font-size:'16px';
}

.flag {
     display: block;
     position: fixed;
     height: 1%;
     width: 1%;
     background: url(../static/flag.png);
     }

.searchForm{
          position: fixed;
          left: 50%;
          top: 352px;
          width: 100%;
          margin-left: -25%;
          margin-top: -25%;
      }

#nocInput {
    width: 450px;
}

#provinceInput{
    width: 200px;
}

.dropdownNoc,
.dropdownProvince{
     position: fixed;
     height: 49px;
     top: 352px;
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 16px;
     display: flex;
     align-items: center;
     letter-spacing: 0.1em;
}

.dropdownNoc {
     width: 900px;
     left: 52px;
     }

.dropdownProvince{
     width: 230px;
     left: 910px;
     }

.searchButton{
    position: fixed;
    display:block;
    width: 53px;
    height: 49px;
    border-radius: 50%;
    left: 1150px;
    top: 352px;
     }

.footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
}