<!DOCTYPE HTML>
<html>
<head>
    <title>Find job in Canada</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/jquery.flexdatalist.min.css">
</head>
<body>
<div class="mainPage">
    <img src="../static/flag.png" alt="Canadian_Flag" class="flag" height="300" width="200">
    <form action="/" method="get" id="searchFormId">
        <div class="occupationCode">
            <input type="text"
                  id="nocInput"
                  placeholder="Insert Your NOC(s)"
				  data-limit-of-values='5'
				  data-data='../json/nocOptions.json'
				  data-search-in='value'
                  data-min-length='1'
                  data-value-property=''
                  multiple='multiple'>
        </div>

        <div class="territory">
            <input type="text"
                  placeholder="Choose province or Territory"
				  data-limit-of-values='3'
				  data-data='../json/provinces.json'
				  data-search-in='value'
                  data-min-length='1'
                  multiple='multiple'
                  data-value-property=''
                  id="provinceInput">
        </div>

			<div class="button">
            <input type="image" class="searchButton" src="../static/search.png" alt="Submit">
            </div>
<!--                        <button class="searchButton" type="submit"><img src="../static/search.png" width="43" height="39">-->
<!--                        </button>-->
    </form>

    <div class="searchResultsWrapper">
<!--        Placeholder for search results-->
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
        <div class="result"></div>
    </div>
<!--    <div class="nextPage">-->
<!--        <span class="SJajHc NVbCr"-->
<!--              style="background:url(/images/nav_logo299.webp) no-repeat;background-position:-96px 0;width:71px"></span>-->
<!--        <span style="display:block;margin-left:53px">Next</span>-->
<!--    </div>-->

    <div class="footer">
        <footer>
            <p>
                We do not guarantee you a job, we guarantee the opportunity to find one.
            </p>
        </footer>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../scripts/jquery.flexdatalist.min.js"></script>
<script src="../scripts/script.js"></script>
</body>
</html>
