<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="../style/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="mainPage">
    <img src="../static/flag.png" alt="Canadian_Flag" class="flag" height="300" width="200">
    <div class="searchForm">
        <div class="dropdownNoc">
            <input type="text" placeholder="Insert Your NOC(s)" id="nocInput" list="nocsList"
                   onkeyup="filterFunction()">
            <datalist id="nocsList">
                <option value="0011">Legislators</option>
                <option value="0012">Senior government managers and officials</option>
                <option value="0013">Senior managers - financial, communications and other business services</option>
                <option value="0014">Senior managers - health, education, social and community services and
                    membership organizations</option>
                <option value="0015">Senior managers - trade, broadcasting and other services, n.e.c.</option>
                <option value="0016">Senior managers - construction, transportation, production and utilities</option>
                <option value="0111">Financial managers</option>
                <option value="0112">Human resources managers</option>
                <option value="0113">Purchasing managers</option>
                <option value="0114">Other administrative services managers</option>
                <option value="0121">Insurance, real estate and financial brokerage managers</option>
                <option value="0122">Banking, credit and other investment managers</option>
                <option value="0124">Advertising, marketing and public relations managers</option>
                <option value="0125">Other business services managers</option>
                <option value="0131">Telecommunication carriers managers</option>
                <option value="0132">Postal and courier services managers</option>
                <option value="0211">Engineering managers</option>
                <option value="0212">Architecture and science managers</option>
                <option value="0213">Computer and information systems managers</option>
                <option value="0311">Managers in health care</option>
                <option value="0411">Government managers - health and social policy development and program
                    administration</option>
                <option value="0412">Government managers - economic analysis, policy development and program
                    administration</option>
                <option value="0413">Government managers - education policy development and program
                    administration</option>
                <option value="0414">Other managers in public administration</option>
                <option value="0421">Administrators - post-secondary education and vocational training</option>
                <option value="0422">School principals and administrators of elementary and secondary education
                </option>
                <option value="0423">Managers in social, community and correctional services</option>
                <option value="0431">Commissioned police officers</option>
                <option value="0432">Fire chiefs and senior firefighting officers</option>
                <option value="0433">Commissioned officers of the Canadian Armed Forces</option>
                <option value="0511">Library, archive, museum and art gallery managers</option>
                <option value="0522">Managers - publishing, motion pictures, broadcasting and performing arts
                </option>
                <option value="0513">Recreation, sports and fitness program and service directors</option>
                <option value="0601">Corporate sales managers</option>
                <option value="0621">Retail and wholesale trade managers</option>
                <option value="0631">Restaurant and food service managers</option>
                <option value="0632">Accommodation service managers</option>
                <option value="0651">Managers in customer and personal services, n.e.c.</option>
                <option value="0711">Construction managers</option>
                <option value="0712">Home building and renovation managers</option>
                <option value="0714">Facility operation and maintenance managers</option>
                <option value="0731">Managers in transportation</option>
                <option value="0811">Managers in natural resources production and fishing</option>
                <option value="0821">Managers in agriculture</option>
                <option value="0822">Managers in horticulture</option>
                <option value="0823">Managers in aquaculture</option>
                <option value="0911">Manufacturing managers</option>
                <option value="0912">Utilities managers</option>
                <option value="1111">Financial auditors and accountants</option>
                <option value="1112">Financial and investment analysts</option>
                <option value="1113">Securities agents, investment dealers and brokers</option>
                <option value="1114">Other financial officers</option>
                <option value="1121">Human resources professionals</option>
                <option value="1122">Professional occupations in business management consulting</option>
                <option value="1123">Professional occupations in advertising, marketing and public relations
                </option>
                <option value="1211">Supervisors, general office and administrative support workers</option>
                <option value="1212">Supervisors, finance and insurance office workers</option>
                <option value="1213">Supervisors, library, correspondence and related information workers
                </option>
                <option value="1214">Supervisors, mail and message distribution occupations</option>
                <option value="1215">Supervisors, supply chain, tracking and scheduling co-ordination occupations
                </option>
                <option value="1221">Administrative officers</option>
                <option value="1222">Executive assistants</option>
                <option value="1223">Human resources and recruitment officers</option>
                <option value="1224">Property administrators</option>
                <option value="1225">Purchasing agents and officers</option>
                <option value="1226">Conference and event planners</option>
                <option value="1227">Court officers and justices of the peace</option>
                <option value="1228">Employment insurance, immigration, border services and revenue officers
                </option>
                <option value="1241">Administrative assistants</option>
                <option value="1242">Legal administrative assistants</option>
                <option value="1243">Medical administrative assistants</option>
                <option value="1251">Court reporters, medical transcriptionists and related occupations</option>
                <option value="1252">Health information management occupations</option>
                <option value="1253">Records management technicians</option>
                <option value="1254">Statistical officers and related research support occupations</option>
                <option value="1311">Accounting technicians and bookkeepers</option>
                <option value="1312">Insurance adjusters and claims examiners</option>
                <option value="1313">Insurance underwriters</option>
                <option value="1314">Assessors, valuators and appraisers</option>
                <option value="1315">Customs, ship and other brokers</option>
                <option value="1411">General office support workers</option>
                <option value="1414">Receptionists</option>
                <option value="1414">Personnel clerks</option>
                <option value="1416">Court clerks</option>
                <option value="1422">Data entry clerks</option>
                <option value="1423">Desktop publishing operators and related occupations</option>
                <option value="1431">Accounting and related clerks</option>
                <option value="1432">Payroll administrators</option>
                <option value="1434">Banking, insurance and other financial clerks</option>
                <option value="1435">Collectors</option>
                <option value="1451">Library assistants and clerks</option>
                <option value="1452">Correspondence, publication and regulatory clerks</option>
                <option value="1454">Survey interviewers and statistical clerks</option>
                <option value="1511">Mail, postal and related workers</option>
                <option value="1512">Letter carriers</option>
                <option value="1513">Couriers, messengers and door-to-door distributors</option>
                <option value="1521">Shippers and receivers</option>
                <option value="1522">Storekeepers and partspersons</option>
                <option value="1523">Production logistics co-ordinators</option>
                <option value="1524">Purchasing and inventory control workers</option>
                <option value="1525">Dispatchers</option>
                <option value="1526">Transportation route and crew schedulers</option>
                <option value="2111">Physicists and astronomers</option>
                <option value="2112">Chemists</option>
                <option value="2113">Geoscientists and oceanographers</option>
                <option value="2114">Meteorologists and climatologists</option>
                <option value="2115">Other professional occupations in physical sciences</option>
                <option value="2121">Biologists and related scientists</option>
                <option value="2122">Forestry professionals</option>
                <option value="2123">Agricultural representatives, consultants and specialists</option>
                <option value="2131">Civil engineers</option>
                <option value="2132">Mechanical engineers</option>
                <option value="2133">Electrical and electronics engineers</option>
                <option value="2134">Chemical engineers</option>
                <option value="2141">Industrial and manufacturing engineers</option>
                <option value="2142">Metallurgical and materials engineers</option>
                <option value="2143">Mining engineers</option>
                <option value="2144">Geological engineers</option>
                <option value="2145">Petroleum engineers</option>
                <option value="2146">Aerospace engineers</option>
                <option value="2147">Computer engineers (except software engineers and designers)</option>
                <option value="2148">Other professional engineers, n.e.c.</option>
                <option value="2151">Architects</option>
                <option value="2152">Landscape architects</option>
                <option value="2153">Urban and land use planners</option>
                <option value="2154">Land surveyors</option>
                <option value="2161">Mathematicians, statisticians and actuaries</option>
                <option value="2171">Information systems analysts and consultants</option>
                <option value="2172">Database analysts and data administrators</option>
                <option value="2173">Software engineers and designers</option>
                <option value="2174">Computer programmers and interactive media developers</option>
                <option value="2175">Web designers and developers</option>
                <option value="2211">Chemical technologists and technicians</option>
                <option value="2212">Geological and mineral technologists and technicians</option>
                <option value="2221">Biological technologists and technicians</option>
                <option value="2222">Agricultural and fish products inspectors</option>
                <option value="2223">Forestry technologists and technicians</option>
                <option value="2224">Conservation and fishery officers</option>
                <option value="2225">Landscape and horticulture technicians and specialists</option>
                <option value="2231">Civil engineering technologists and technicians</option>
                <option value="2232">Mechanical engineering technologists and technicians</option>
                <option value="2233">Industrial engineering and manufacturing technologists and technicians</option>
                <option value="2234">Construction estimators</option>
                <option value="2241">Electrical and electronics engineering technologists and technicians</option>
                <option value="2242">Electronic service technicians (household and business equipment)</option>
                <option value="2243">Industrial instrument technicians and mechanics</option>
                <option value="2244">Aircraft instrument, electrical and avionics mechanics, technicians and
                    inspectors</option>
                <option value="2251">Architectural technologists and technicians</option>
                <option value="2252">Industrial designers</option>
                <option value="2253">Drafting technologists and technicians</option>
                <option value="2254">Land survey technologists and technicians</option>
                <option value="2255">Technical occupations in geomatics and meteorology</option>
                <option value="2261">Non-destructive testers and inspection technicians</option>
                <option value="2262">Engineering inspectors and regulatory officers</option>
                <option value="2263">Inspectors in public and environmental health and occupational health and safety
                </option>
                <option value="2264">Construction inspectors</option>
                <option value="2271">Air pilots, flight engineers and flying instructors</option>
                <option value="2272">Air traffic controllers and related occupations</option>
                <option value="2273">Deck officers, water transport</option>
                <option value="2274">Engineer officers, water transport</option>
                <option value="2275">Railway traffic controllers and marine traffic regulators</option>
                <option value="2281">Computer network technicians</option>
                <option value="2282">User support technicians</option>
                <option value="2283">Information systems testing technicians</option>
                <option value="3011">Nursing co-ordinators and supervisors</option>
                <option value="3012">Registered nurses and registered psychiatric nurses</option>
                <option value="3111">Specialist physicians</option>
                <option value="3112">General practitioners and family physicians</option>
                <option value="3113">Dentists</option>
                <option value="3114">Veterinarians</option>
                <option value="3121">Optometrists</option>
                <option value="3122">Chiropractors</option>
                <option value="3124">Allied primary health practitioners</option>
                <option value="3125">Other professional occupations in health diagnosing and treating</option>
                <option value="3131">Pharmacists</option>
                <option value="3132">Dietitians and nutritionists</option>
                <option value="3141">Audiologists and speech-language pathologists</option>
                <option value="3142">Physiotherapists</option>
                <option value="3143">Occupational therapists</option>
                <option value="3144">Other professional occupations in therapy and assessment</option>
                <option value="3211">Medical laboratory technologists</option>
                <option value="3212">Medical laboratory technicians and pathologists’ assistants</option>
                <option value="3213">Animal health technologists and veterinary technicians</option>
                <option value="3214">Respiratory therapists, clinical perfusionists and cardiopulmonary technologists
                </option>
                <option value="3215">Medical radiation technologists</option>
                <option value="3216">Medical sonographers</option>
                <option value="3217">Cardiology technologists and electrophysiological diagnostic technologists,
                    n.e.c.</option>
                <option value="3219">Other medical technologists and technicians (except dental health)</option>
                <option value="3221">Denturists</option>
                <option value="3222">Dental hygienists and dental therapists</option>
                <option value="3223">Dental technologists, technicians and laboratory assistants</option>
                <option value="3231">Opticians</option>
                <option value="3232">Practitioners of natural healing</option>
                <option value="3233">Licensed practical nurses</option>
                <option value="3234">Paramedical occupations</option>
                <option value="3236">Massage therapists</option>
                <option value="3237">Other technical occupations in therapy and assessment</option>
                <option value="3411">Dental assistants</option>
                <option value="3413">Nurse aides, orderlies and patient service associates</option>
                <option value="3414">Other assisting occupations in support of health services</option>
                <option value="4011">University professors and lecturers</option>
                <option value="4012">Post-secondary teaching and research assistants</option>
                <option value="4021">College and other vocational instructors</option>
                <option value="4031">Secondary school teachers</option>
                <option value="4032">Elementary school and kindergarten teachers</option>
                <option value="4033">Educational counsellors</option>
                <option value="4111">Judges</option>
                <option value="4112">Lawyers and Quebec notaries</option>
                <option value="4151">Psychologists</option>
                <option value="4152">Social workers</option>
                <option value="4153">Family, marriage and other related counsellors</option>
                <option value="4154">Professional occupations in religion</option>
                <option value="4155">Probation and parole officers and related occupations</option>
                <option value="4156">Employment counsellors</option>
                <option value="4161">Natural and applied science policy researchers, consultants and program officers
                </option>
                <option value="4162">Economists and economic policy researchers and analysts</option>
                <option value="4163">Business development officers and marketing researchers and consultants</option>
                <option value="4164">Social policy researchers, consultants and program officers</option>
                <option value="4165">Health policy researchers, consultants and program officers</option>
                <option value="4166">Education policy researchers, consultants and program officers</option>
                <option value="4167">Recreation, sports and fitness policy researchers, consultants and program
                    officers</option>
                <option value="4168">Program officers unique to government</option>
                <option value="4169">Other professional occupations in social science, n.e.c.</option>
                <option value="4211">Paralegal and related occupations</option>
                <option value="4212">Social and community service workers</option>
                <option value="4214">Early childhood educators and assistants</option>
                <option value="4215">Instructors of persons with disabilities</option>
                <option value="4216">Other instructors</option>
                <option value="4217">Other religious occupations</option>
                <option value="4311">Police officers (except commissioned)</option>
                <option value="4312">Firefighters</option>
                <option value="4313">Non-commissioned ranks of the Canadian Armed Forces</option>
                <option value="4411">Home child care providers</option>
                <option value="4412">Home support workers, housekeepers and related occupations</option>
                <option value="4414">Elementary and secondary school teacher assistants</option>
                <option value="4421">Sheriffs and bailiffs</option>
                <option value="4422">Correctional service officers</option>
                <option value="4423">By-law enforcement and other regulatory officers, n.e.c.</option>
                <option value="5111">Librarians</option>
                <option value="5112">Conservators and curators</option>
                <option value="5113">Archivists</option>
                <option value="5121">Authors and writers</option>
                <option value="5122">Editors</option>
                <option value="5123">Journalists</option>
                <option value="5125">Translators, terminologists and interpreters</option>
                <option value="5131">Producers, directors, choreographers and related occupations</option>
                <option value="5132">Conductors, composers and arrangers</option>
                <option value="5133">Musicians and singers</option>
                <option value="5134">Dancers</option>
                <option value="5135">Actors and comedians</option>
                <option value="5136">Painters, sculptors and other visual artists</option>
                <option value="5211">Library and public archive technicians</option>
                <option value="5212">Technical occupations related to museums and art galleries</option>
                <option value="5221">Photographers</option>
                <option value="5222">Film and video camera operators</option>
                <option value="5223">Graphic arts technicians</option>
                <option value="5224">Broadcast technicians</option>
                <option value="5225">Audio and video recording technicians</option>
                <option value="5226">Other technical and co-ordinating occupations in motion pictures, broadcasting
                    and the performing arts</option>
                <option value="5227">Support occupations in motion pictures, broadcasting, photography and the
                    performing arts</option>
                <option value="5231">Announcers and other broadcasters</option>
                <option value="5232">Other performers, n.e.c.</option>
                <option value="5241">Graphic designers and illustrators</option>
                <option value="5242">Interior designers and interior decorators</option>
                <option value="5243">Theatre, fashion, exhibit and other creative designers</option>
                <option value="5244">Artisans and craftspersons</option>
                <option value="5245">Patternmakers - textile, leather and fur products</option>
                <option value="5251">Athletes</option>
                <option value="5252">Coaches</option>
                <option value="5253">Sports officials and referees</option>
                <option value="5254">Program leaders and instructors in recreation, sport and fitness</option>
                <option value="6211">Retail sales supervisors</option>
                <option value="6221">Technical sales specialists - wholesale trade</option>
                <option value="6222">Retail and wholesale buyers</option>
                <option value="6231">Insurance agents and brokers</option>
                <option value="6232">Real estate agents and salespersons</option>
                <option value="6235">Financial sales representatives</option>
                <option value="6311">Food service supervisors</option>
                <option value="6312">Executive housekeepers</option>
                <option value="6313">Accommodation, travel, tourism and related services supervisors</option>
                <option value="6314">Customer and information services supervisors</option>
                <option value="6315">Cleaning supervisors</option>
                <option value="6316">Other services supervisors</option>
                <option value="6321">Chefs</option>
                <option value="6322">Cooks</option>
                <option value="6331">Butchers, meat cutters and fishmongers - retail and wholesale</option>
                <option value="6332">Bakers</option>
                <option value="6341">Hairstylists and barbers</option>
                <option value="6342">Tailors, dressmakers, furriers and milliners</option>
                <option value="6343">Shoe repairers and shoemakers</option>
                <option value="6344">Jewellers, jewellery and watch repairers and related occupations</option>
                <option value="6345">Upholsterers</option>
                <option value="6346">Funeral directors and embalmers</option>
                <option value="6411">Sales and account representatives - wholesale trade (non-technical)</option>
                <option value="6421">Retail salespersons</option>
                <option value="6511">Maîtres d’hôtel and hosts/hostesses</option>
                <option value="6512">Bartenders</option>
                <option value="6513">Food and beverage servers</option>
                <option value="6521">Travel counsellors</option>
                <option value="6522">Pursers and flight attendants</option>
                <option value="6523">Airline ticket and service agents</option>
                <option value="6524">Ground and water transport ticket agents, cargo service representatives and
                    related clerks</option>
                <option value="6525">Hotel front desk clerks</option>
                <option value="6531">Tour and travel guides</option>
                <option value="6532">Outdoor sport and recreational guides</option>
                <option value="6533">Casino occupations</option>
                <option value="6541">Security guards and related security service occupations</option>
                <option value="6551">Customer services representatives - financial institutions</option>
                <option value="6552">Other customer and information services representatives</option>
                <option value="6561">Image, social and other personal consultants</option>
                <option value="6562">Estheticians, electrologists and related occupations</option>
                <option value="6563">Pet groomers and animal care workers</option>
                <option value="6564">Other personal service occupations</option>
                <option value="6611">Cashiers</option>
                <option value="6621">Service station attendants</option>
                <option value="6622">Store shelf stockers, clerks and order fillers</option>
                <option value="6623">Other sales related occupations</option>
                <option value="6711">Food counter attendants, kitchen helpers and related support occupations
                </option>
                <option value="6721">Support occupations in accommodation, travel and facilities set-up services
                </option>
                <option value="6722">Operators and attendants in amusement, recreation and sport</option>
                <option value="6731">Light duty cleaners</option>
                <option value="6721">Specialized cleaners</option>
                <option value="6733">Janitors, caretakers and building superintendents</option>
                <option value="6741">Dry cleaning, laundry and related occupations</option>
                <option value="6742">Other service support occupations, n.e.c.</option>
                <option value="7201">Contractors and supervisors, machining, metal forming, shaping and erecting trades and related occupations</option>
                <option value="7202">Contractors and supervisors, electrical trades and telecommunications occupations</option>
                <option value="7203">Contractors and supervisors, pipefitting trades</option>
                <option value="7204">Contractors and supervisors, carpentry trades</option>
                <option value="7205">Contractors and supervisors, other construction trades, installers, repairers and servicers
                </option>
                <option value="7231">Machinists and machining and tooling inspectors</option>
                <option value="7232">Tool and die makers</option>
                <option value="7233">Sheet metal workers</option>
                <option value="7234">Boilermakers</option>
                <option value="7235">Structural metal and platework fabricators and fitters</option>
                <option value="7236">Ironworkers</option>
                <option value="7237">Welders and related machine operators</option>
                <option value="7241">Electricians (except industrial and power system)</option>
                <option value="7242">Industrial electricians</option>
                <option value="7243">Power system electricians</option>
                <option value="7244">Electrical power line and cable workers</option>
                <option value="7245">Telecommunications line and cable workers</option>
                <option value="7246">Telecommunications installation and repair workers</option>
                <option value="7247">Cable television service and maintenance technicians</option>
                <option value="7251">Plumbers</option>
                <option value="7252">Steamfitters, pipefitters and sprinkler system installers</option>
                <option value="7253">Gas fitters</option>
                <option value="7271">Carpenters</option>
                <option value="7272">Cabinetmakers</option>
                <option value="7281">Bricklayers</option>
                <option value="7282">Concrete finishers</option>
                <option value="7283">Tilesetters</option>
                <option value="7284">Plasterers, drywall installers and finishers and lathers</option>
                <option value="7291">Roofers and shinglers</option>
                <option value="7292">Glaziers</option>
                <option value="7293">Insulators</option>
                <option value="7294">Painters and decorators (except interior decorators)</option>
                <option value="7295">Floor covering installers</option>
                <option value="7301">Contractors and supervisors, mechanic trades</option>
                <option value="7302">Contractors and supervisors, heavy equipment operator crews</option>
                <option value="7303">Supervisors, printing and related occupations</option>
                <option value="7304">Supervisors, railway transport operations</option>
                <option value="7305">Supervisors, motor transport and other ground transit operators</option>
                <option value="7311">Construction millwrights and industrial mechanics</option>
                <option value="7312">Heavy-duty equipment mechanics</option>
                <option value="7313">Heating, refrigeration and air conditioning mechanics</option>
                <option value="7314">Railway carmen/women</option>
                <option value="7315">Aircraft mechanics and aircraft inspectors</option>
                <option value="7316">Machine fitters</option>
                <option value="7318">Elevator constructors and mechanics</option>
                <option value="7321">Automotive service technicians, truck and bus mechanics and mechanical repairers
                </option>
                <option value="7322">Motor vehicle body repairers</option>
                <option value="7331">Oil and solid fuel heating mechanics</option>
                <option value="7332">Appliance servicers and repairers</option>
                <option value="7333">Electrical mechanics</option>
                <option value="7334">Motorcycle, all-terrain vehicle and other related mechanics</option>
                <option value="7335">Other small engine and small equipment repairers</option>
                <option value="7361">Railway and yard locomotive engineers</option>
                <option value="7362">Railway conductors and brakemen/women</option>
                <option value="7371">Crane operators</option>
                <option value="7372">Drillers and blasters - surface mining, quarrying and construction</option>
                <option value="7373">Water well drillers</option>
                <option value="7381">Printing press operators</option>
                <option value="7384">Other trades and related occupations, n.e.c.</option>
                <option value="7441">Residential and commercial installers and servicers</option>
                <option value="7442">Waterworks and gas maintenance workers</option>
                <option value="7444">Pest controllers and fumigators</option>
                <option value="7445">Other repairers and servicers</option>
                <option value="7451">Longshore workers</option>
                <option value="7452">Material handlers</option>
                <option value="7511">Transport truck drivers</option>
                <option value="7512">Bus drivers, subway operators and other transit operators</option>
                <option value="7513">Taxi and limousine drivers and chauffeurs</option>
                <option value="7514">Delivery and courier service drivers</option>
                <option value="7521">Heavy equipment operators (except crane)</option>
                <option value="7522">Public works maintenance equipment operators and related workers</option>
                <option value="7531">Railway yard and track maintenance workers</option>
                <option value="7532">Water transport deck and engine room crew</option>
                <option value="7533">Boat and cable ferry operators and related occupations</option>
                <option value="7534">Air transport ramp attendants</option>
                <option value="7535">Other automotive mechanical installers and servicers</option>
                <option value="7611">Construction trades helpers and labourers</option>
                <option value="7612">Other trades helpers and labourers</option>
                <option value="7621">Public works and maintenance labourers</option>
                <option value="7622">Railway and motor transport labourers</option>
                <option value="8211">Supervisors, logging and forestry</option>
                <option value="8221">Supervisors, mining and quarrying</option>
                <option value="8222">Contractors and supervisors, oil and gas drilling and services</option>
                <option value="8231">Underground production and development miners</option>
                <option value="8232">Oil and gas well drillers, servicers, testers and related workers</option>
                <option value="8241">Logging machinery operators</option>
                <option value="8252">Agricultural service contractors, farm supervisors and specialized livestock
                    workers</option>
                <option value="8255">Contractors and supervisors, landscaping, grounds maintenance and horticulture
                    services</option>
                <option value="8261">Fishing masters and officers</option>
                <option value="8262">Fishermen/women</option>
                <option value="8411">Underground mine service and support workers</option>
                <option value="8412">Oil and gas well drilling and related workers and services operators</option>
                <option value="8421">Chain saw and skidder operators</option>
                <option value="8422">Silviculture and forestry workers</option>
                <option value="8431">General farm workers</option>
                <option value="8432">Nursery and greenhouse workers</option>
                <option value="8441">Fishing vessel deckhands</option>
                <option value="8442">Trappers and hunters</option>
                <option value="8611">Harvesting labourers</option>
                <option value="8612">Landscaping and grounds maintenance labourers</option>
                <option value="8613">Aquaculture and marine harvest labourers</option>
                <option value="8614">Mine labourers</option>
                <option value="8615">Oil and gas drilling, servicing and related labourers</option>
                <option value="8616">Logging and forestry labourers</option>
                <option value="9211">Supervisors, mineral and metal processing</option>
                <option value="9212">Supervisors, petroleum, gas and chemical processing and utilities</option>
                <option value="9213">Supervisors, food and beverage processing</option>
                <option value="9214">Supervisors, plastic and rubber products manufacturing</option>
                <option value="9215">Supervisors, forest products processing</option>
                <option value="9217">Supervisors, textile, fabric, fur and leather products processing and
                    manufacturing</option>
                <option value="9221">Supervisors, motor vehicle assembling</option>
                <option value="9222">Supervisors, electronics manufacturing</option>
                <option value="9223">Supervisors, electrical products manufacturing</option>
                <option value="9224">Supervisors, furniture and fixtures manufacturing</option>
                <option value="9226">Supervisors, other mechanical and metal products manufacturing</option>
                <option value="9227">Supervisors, other products manufacturing and assembly</option>
                <option value="9231">Central control and process operators, mineral and metal processing</option>
                <option value="9232">Central control and process operators, petroleum, gas and chemical processing
                </option>
                <option value="9235">Pulping, papermaking and coating control operators</option>
                <option value="9241">Power engineers and power systems operators</option>
                <option value="9243">Water and waste treatment plant operators</option>
                <option value="9411">Machine operators, mineral and metal processing</option>
                <option value="9412">Foundry workers</option>
                <option value="9413">Glass forming and finishing machine operators and glass cutters</option>
                <option value="9414">Concrete, clay and stone forming operators</option>
                <option value="9415">Inspectors and testers, mineral and metal processing</option>
                <option value="9416">Metalworking and forging machine operators</option>
                <option value="9417">Machining tool operators</option>
                <option value="9418">Other metal products machine operators</option>
                <option value="9421">Chemical plant machine operators</option>
                <option value="9422">Plastics processing machine operators</option>
                <option value="9423">Rubber processing machine operators and related workers</option>
                <option value="9431">Sawmill machine operators</option>
                <option value="9432">Pulp mill machine operators</option>
                <option value="9433">Papermaking and finishing machine operators</option>
                <option value="9434">Other wood processing machine operators</option>
                <option value="9435">Paper converting machine operators</option>
                <option value="9436">Lumber graders and other wood processing inspectors and graders</option>
                <option value="9437">Woodworking machine operators</option>
                <option value="9441">Textile fibre and yarn, hide and pelt processing machine operators and workers
                </option>
                <option value="9442">Weavers, knitters and other fabric making occupations</option>
                <option value="9445">Fabric, fur and leather cutters</option>
                <option value="9446">Industrial sewing machine operators</option>
                <option value="9447">Inspectors and graders, textile, fabric, fur and leather products manufacturing
                </option>
                <option value="9461">Process control and machine operators, food and beverage processing</option>
                <option value="9462">Industrial butchers and meat cutters, poultry preparers and related workers
                </option>
                <option value="9463">Fish and seafood plant workers</option>
                <option value="9465">Testers and graders, food and beverage processing</option>
                <option value="9471">Plateless printing equipment operators</option>
                <option value="9472">Camera, platemaking and other prepress occupations</option>
                <option value="9473">Binding and finishing machine operators</option>
                <option value="9474">Photographic and film processors</option>
                <option value="9521">Aircraft assemblers and aircraft assembly inspectors</option>
                <option value="9522">Motor vehicle assemblers, inspectors and testers</option>
                <option value="9523">Electronics assemblers, fabricators, inspectors and testers</option>
                <option value="9524">Assemblers and inspectors, electrical appliance, apparatus and equipment
                    manufacturing</option>
                <option value="9525">Assemblers, fabricators and inspectors, industrial electrical motors and
                    transformers</option>
                <option value="9526">Mechanical assemblers and inspectors</option>
                <option value="9527">Machine operators and inspectors, electrical apparatus manufacturing</option>
                <option value="9531">Boat assemblers and inspectors</option>
                <option value="9532">Furniture and fixture assemblers and inspectors</option>
                <option value="9533">Other wood products assemblers and inspectors</option>
                <option value="9534">Furniture finishers and refinishers</option>
                <option value="9535">Plastic products assemblers, finishers and inspectors</option>
                <option value="9536">Industrial painters, coaters and metal finishing process operators</option>
                <option value="9537">Other products assemblers, finishers and inspectors</option>
                <option value="9611">Labourers in mineral and metal processing</option>
                <option value="9612">Labourers in metal fabrication</option>
                <option value="9613">Labourers in chemical products processing and utilities</option>
                <option value="9614">Labourers in wood, pulp and paper processing</option>
                <option value="9615">Labourers in rubber and plastic products manufacturing</option>
                <option value="9616">Labourers in textile processing</option>
                <option value="9617">Labourers in food and beverage processing</option>
                <option value="9618">Labourers in fish and seafood processing</option>
                <option value="9619">Other labourers in processing, manufacturing and utilities</option>
            </datalist>
        </div>
        <div class="dropdownProvince">
            <input type="text" placeholder="Choose province or Territory" id="provinceInput" list="provinces"
                   onkeyup="filterProvinceFunction()">
            <datalist id="provinces">
                <option value="Select all">Select all</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NT">Northwest Territories</option>
                <option value="NS">Nova Scotia</option>
                <option value="NU">Nunavut</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="YT">Yukon</option>
            </datalist>
        </div>
        <div class="searchButtonDiv">
                        <button class="searchButton" type="submit"><img src="../static/search.png" width="43" height="39"></button>
        </div>
    </div>

    <div class="footer">
        <footer>
            <p>
                We do not guarantee you a job, we guarantee the opportunity to find one.
            </p>
        </footer>
    </div>
</div>
<script src="../scripts/scripts.js"></script>
</body>
</html>
